<%= form_tag :method => :post, :controller => 'pages', :action => 'home' do %>
        <%= text_field_tag 'word', @word, :size => '30', :class => 'search_box' %> 
        <%= submit_tag "Search" , :class => 'search_button'%>
<% end %>

<% if signed_in? %>
        <table  summary="For signed-in users">
                <tr>
                        <td>
                                <h4>Post your Message here!</h4>
                                <%= render 'shared/micropost_form' %>
                                <%= render 'shared/feed' %>
                        </td>

                </tr>
        </table>
<% else %>
        <%= render 'shared/feed' , :collection => @feed_items %>
<% end %>
